@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #f3f9f7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 6%;
}

form{
    background: #fff;
    max-width: 500px;
    height: 450px;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #266C59;
}

form h1{
    text-align: center;
    margin-bottom: 10px;
    color: #266C59;
    font-size: 22pt;
}

form p{
    text-align: center;
    margin-bottom: 25px;
}

form .input-single{
    position: relative;
    margin: 30px 0;
}

form .input-single label{
    position: absolute;
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: all 0.5s;
    color: #808080;
}

form .input-single .input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #808080;
    padding: 5px;
    outline: 0;
    font-size: 16px;
}

form .input-single .input:focus{
    border-bottom: 2px solid #266C59;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label{
    transform: translateY(-20px);
    font-size: 12px;
    color: #266C59;
}

.btn {
    display: flex;
    gap: 10px; /* Espaço entre os botões */
    justify-content: center;
  }
  
  .btn input[type="submit"],
  .btn input[type="button"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
  }
  
  .btn input[type="submit"] {
    background-color: #266C59;
    color: #FFF;
  }
  
  .btn input[type="submit"]:hover {
    background-color: white;
    color: #266C59;
    border: 0.5px solid #266C59;
  }

  .cancel-btn {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 14px;
    text-align: center;
    background-color: #266C59;
    color: white;
    border: 1px solid #266C59;
    text-decoration: none;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: white;
    color: #266C59;
}